<%- model_class = Task -%>
<div class="page-header">
  <h1><%=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human.titleize %></h1>
</div>
<%= render :partial => 'form' %>

<% if False %>
	<% @subtask.each do |subtask| %>
	<%= subtask.id %>
	<% if subtask.content %>
		<%= subtask.content %>
	<% else %>
		<%= "no content" %>
	<% end %>
	<% end %>
<% end %>